<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../../../ejs-components/header.ejs') %>
    <h1>Interviewer Home Page</h1>
    <h2>Some information About this user</h2>
    <p>
        <li>Email: <%= personalData[0].email%></li>
        <li>Name: <%= personalData[0].name%></li>
        <li>Phone Number: <%= personalData[0].phonenum%></li>
        <li>Company Name: <%= personalData[0].companyname%></li>
        <li>Job Title: <%= personalData[0].jobtitle%></li>
    </p>
    <p><a href="/employee/companyView">View Company Postings</a></p>
</body>
</html>
